[submodule "vim-code-dark"]
	path = .vim/pack/themes/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "NERDTree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "tmux-tpm-plugin"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
